* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.page__header {
  height: 20vh;

  display: flex;
  justify-content: center;
  text-align: center;
}

.page__header--tittle {
  padding: 20px;
}

.page__main--list {
  /* height: 80vh; */
  /* width: 100vh; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* .page__main--list {
  grid-column: span 2;
} */

@media all and (min-width: 768px) {
  .page__main--list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (min-width: 1200px) {
  .page__main--list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
